@import 'mixin.scss';
@import 'null.scss';


.main{
   max-width: 500px;
   margin: 0 auto;

}

.item-response{
   border: 1px solid black;
   padding: 5px;
   font-size: 16px;
   margin-bottom: 20px;
}
.item-question{
   font-size: 22px;
   font-weight: 500;
}
.description{
   margin-bottom: 20px;
   font-size: 18px;
   text-align: center;
}
.title{
   text-align: center;
   margin-bottom: 20px;
}
.btn-submit{
   background-color: antiquewhite;
   color: #000;
   font-size: 20px;
   font-weight: 500;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 20px;
}
.result{
   font-size: 20px;
   margin-bottom: 20px;
}

.btn-for-return{
   background-color: rgb(151, 243, 151);
   color: #000;
   font-size: 20px;
   font-weight: 500;
   padding: 10px;
   border-radius: 10px;
   margin-top: 20px;
}